---
import Layout from "../layouts/Layout.astro";
import Greeting from "../components/Greeting.tsx";
---

<Layout title="Welcome to Astro.">
  <p>TOPページ</p>
  <Greeting
    client:load
    messages={["どうも", "こんにちは", "初めまして", "ようこそ"]}
  />
</Layout>
