---
import Layout from "../layouts/Layout.astro";
import Greeting from "../components/Greeting.tsx";
import { fade } from "astro:transitions";
---

<Layout title="Welcome to Astro.">
  <p transition:animate={fade({ duration: "2s" })}>TOPページ</p>
  <Greeting
    client:load
    messages={["どうも", "こんにちは", "初めまして", "ようこそ"]}
  />
</Layout>
